html, body {
    
    height: 100%;
    min-height: 100%;
}

body {
    background-color:#E7E9EC;
    display: flex;
}

.paper {
    display: flex;
    height: 90%;
    width: 60%;
    margin: auto;
    background-color:#FFFFFF;
    border-radius: 6px;
}

.list {
    padding-top: 100px;
    padding-left: 100px;
    width: 100%;
}

.list-item {
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
}


.dot {
    width: 20px;
    height: 20px;
    background-color:#D4D8DB;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dot:hover {
    /* width: 20px;
    height: 20px; */
    background-color:#919de4;
    /* border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex; */
}

.inner-dot {
    width: 8px;
    height: 8px;
    background-color:#524f4f;
    border-radius: 4px;
}

.item {
    align-self: center;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    
    
    /* border-style: solid; */
    width: 100%;
}


[contenteditable] {
  outline: 0px solid transparent;
}